/*1、3*/
#main{width:1002px;position:relative;}
#main .title{width:1001px;height:58px;overflow:hidden;overflow:hidden;}
#main .title img{display:block;width:1001px;height:58px;}

#main .bg{background:#fff;padding:10px 46px 80px;}
#main .bg h2{ line-height:70px;height:70px;text-align:center;font-size:16px;color:#d44499;}
#main .bg .content{width:864px;overflow:hidden;margin:0 auto;}
#main .bg .content p{ line-height:2em;font-size:14px;color:#454545;padding:12px 3px;}
#main .bg .btn{text-align:center;padding:20px 0 0;}

/*2*/
#main .bg2 table{margin:0 auto;border-left:3px solid #d9d9d9;border-top:3px solid #d9d9d9;}
#main .bg2 table th,#main .bg2 table td{margin:0 auto;border-right:3px solid #d9d9d9;border-bottom:3px solid #d9d9d9;background:#f5f5f5;}
#main .bg2 table th{text-align:center;padding:9px 4px;font-size:14px;color:#454545;line-height:28px;}
#main .bg2 table td{padding:9px 14px;font-size:14px;color:#454545;line-height:28px;}
#main .bg2 table td textarea{width:100%;line-height:28px;height:28px;}
#main .bg2 table td p.pad{padding:5px 2px;}
#main .bg2 table td p.textright{text-align:right;}

#main .btn2{padding:33px 0 0 330px;height:38px;overflow:hidden;}
#main .btn2 input{display:block;width:130px;height:38px;overflow:hidden;float:left;margin-right:22px;cursor:pointer;padding:0px;border:0px;}
#main .btn2 input.reset{background:url(../../images/Inbox/Inbox3_1.jpg) no-repeat;}
#main .btn2 input.submit{background:url(../../images/Posting/Posting4-02.jpg) no-repeat;}

/*4*/
#main .bg4 {padding:39px 0 100px;}
#main .bg4 table{width:100%;border-bottom:4px solid #d1d1d1;background:#f9f9f9;}
#main .bg4 table th{background:url(../../images/Announcement/bg.jpg) left bottom repeat-x;height:48px;padding:0 0 2px 0;color:#b4b4b4;font-size:14px;line-height:48x;font-weight:bold;}
#main .bg4 table th.th1{padding:0 0 0 49px;width:741px;overflow:hidden;}
#main .bg4 table th.th3{width:130px;overflow:hidden;}
#main .bg4 table th.th4{width:300px;overflow:hidden;}

#main .bg4 table td{color:#000;font-size:14px;line-height:24x;padding:12px 0;border-bottom:1px solid #dbdbdb;}
#main .bg4 table td.td1{padding-left:49px;width:741px;overflow:hidden;}
#main .bg4 table td.td3{width:130px;overflow:hidden;}
#main .bg4 table td.td4{width:300px;overflow:hidden;}

#main .btn4{padding:43px 0 0 0;overflow:hidden;text-align:center;}

/*5*/
#main .bg5{background:url(../../images/Posting/Posting4-01.jpg) 156px 65px no-repeat #fff;padding:65px 0 120px 428px;}
#main .bg5 .list_box{border:2px solid #bbb5b5;width:327px;}
#main .bg5 .list_box .top_btn{height:56px;background:url(../../images/Inbox/Inbox5_1.jpg) top center no-repeat #f5f5f5;cursor:pointer;border-bottom:1px solid #dfdfdf;}
#main .bg5 .list_box ul{background:#f5f5f5;}
/*#main .bg5 .list_box ul li{height:46px;overflow:hidden;line-height:46px;font-size:16px;text-align:center;border-bottom:1px solid #dfdfdf;cursor:pointer;}
#main .bg5 .list_box ul li.selected{background:url(../../images/Inbox/Inbox5_2.jpg) 240px 11px no-repeat;}*/

#main .bg5 .list_box ul li{height:46px;overflow:hidden;line-height:46px;font-size:16px;border-bottom:1px solid #dfdfdf;cursor:pointer;background:url(../../images/Inbox/Inbox10_2.png) 120px -3px no-repeat;text-align:center;}
#main .bg5 .list_box ul li.selected{background:url(../../images/Inbox/Inbox10_2.png) 120px -57px no-repeat #f5f5f5;}

#main .bg5 .list_box .bottom_btn{height:56px;background:url(../../images/Inbox/Inbox5_3.jpg) top center no-repeat #f5f5f5;cursor:pointer;}
#main .bg5 .btn5{padding:33px 0 0;height:38px;overflow:hidden;}
#main .bg5 .btn5 a.cancel{display:block;float:left;width:130px;height:38px;overflow:hidden;margin-right:22px;}
#main .bg5 .btn5 input.submit{display:block;float:left;width:130px;height:38px;overflow:hidden;padding:0px;border:0px;background:url(../../images/Posting/Posting4-02.jpg) no-repeat;cursor:pointer;}

/*6*/
#main .bg6{padding:39px 0 0;}
#main .bg6 table{width:100%;border-bottom:4px solid #d1d1d1;background:#f9f9f9;}
#main .bg6 table th{background:url(../../images/Announcement/bg.jpg) left bottom repeat-x;height:48px;padding:0 0 2px 0;color:#b4b4b4;font-size:14px;line-height:48x;font-weight:bold;}
#main .bg6 table th.th1{padding:0 0 0 49px;width:474px;overflow:hidden;}
#main .bg6 table th.th2{width:160px;overflow:hidden;}
#main .bg6 table th.th3{width:100px;overflow:hidden;}
#main .bg6 table th.th4{width:267px;overflow:hidden;}

#main .bg6 table td{color:#000;font-size:14px;line-height:24x;padding:12px 0;border-bottom:1px solid #dbdbdb;}
#main .bg6 table td.td1{padding-left:49px;width:474px;overflow:hidden;}
#main .bg6 table td.td2{width:160px;overflow:hidden;}
#main .bg6 table td.td3{width:100px;overflow:hidden;}
#main .bg6 table td.td4{width:267px;overflow:hidden;}

#main .th_title{background:url(../../images/Contacts/th_title.jpg) no-repeat;height:46px;width:1001px;position:relative;}
#main .th_title .text{width:800px;left:100px;top:8px;position:absolute;background:none;border:0px;padding:0px;text-align:center;font-size:16px; line-height:30px;height:30px;color:#ccc;font-family:'微软雅黑','宋体',Arial, Helvetica, sans-serif;letter-spacing:2px;display:block;}
#main .th_title .submit{width:48px;height:25px;overflow:hidden;right:45px;top:11px;display:block;position:absolute;background:none;border:0px;padding:0px;cursor:pointer;}

.pager{text-align:center;padding:20px 10px;}
.pager a{color:#036cb4;background-color:#FFFFFF;text-decoration:none;border:#eee solid 1px;padding:2px 6px;margin-right:5px;}
.pager a:hover{color:#FFFFFF;background-color:#036cb4;border:#036cb4 solid 1px;}
.pager .cpb {color:#FFFFFF;background-color:#036cb4;text-decoration:none;border:#036cb4 solid 1px;padding:2px 6px;margin-right:5px;}

/*7*/
#main .textarea{padding:15px 0 10px;margin:0 30px 0 30px;}
#main .textarea textarea{background:#f3f3f3;border:1px solid #bbb5b5;padding:10px;height:240px;width:100%;margin:0 auto;font-size:14px;color:#909090;}
